<div class="timetable-container">
    <h3>Timetable</h3>
    <table class="timetable">
        <thead>
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8:00 AM - 9:00 AM</td>
                <td>Math</td>
                <td>English</td>
                <td>Physics</td>
                <td>Chemistry</td>
                <td>Biology</td>
            </tr>
            <tr>
                <td>9:00 AM - 10:00 AM</td>
                <td>History</td>
                <td>Math</td>
                <td>English</td>
                <td>Physics</td>
                <td>Chemistry</td>
            </tr>
            <tr>
                <td>10:00 AM - 11:00 AM</td>
                <td>Chemistry</td>
                <td>History</td>
                <td>Math</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
            <tr>
                <td>11:00 AM - 12:00 PM</td>
                <td>English</td>
                <td>Physics</td>
                <td>Chemistry</td>
                <td>Math</td>
                <td>History</td>
            </tr>
            <tr>
                <td>12:00 PM - 1:00 PM</td>
                <td>Biology</td>
                <td>Math</td>
                <td>History</td>
                <td>English</td>
                <td>Biology</td>
            </tr>
        </tbody>
    </table>
</div>
