/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent any scrolling caused by gaps */
}

/* Container Layout */
.container {
  display: flex;
  height: 90vh; /* Full height of the viewport */
  width: 100%;
  padding: auto; 
  margin: 15px;
  margin-left: 20%;/* Full width of the viewport */
  margin-right: 20%;
}

/* Left Column (40%) */
.left-column {
  flex: 50%; /* Takes 40% of the width */
  background-color: rgb(25, 77, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100px;
  margin: 20px auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

select.form-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.submit-button {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.hover-link {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}

.hover-link:hover {
  text-decoration: underline;
}

/* Right Column (60%) */
.right-column {
  flex: 50%; /* Takes 60% of the width */
  background-color: white;
  padding: none; /* Remove padding to eliminate gaps */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

// .top-right {
//   position: absolute;
//   top: 10px;
//   right: 20px;
//   text-align: right;
// }

.login-button {
  background-color: rgb(24, 24, 77);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.heading {
  font-size: 28px;
  margin: 20px 0;
  padding-left: 20%;
  color: black;
  text-align: center;
  font-weight: bold;
}
 span {
  color:rgb(64, 64, 185);/* Change the font color to a blue shade */
}


.paragraph {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 20%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bottom-image {
  width: 100%; 
  max-width: none;
  height: auto; 
  align-self: center; 
}
