* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
  }
  
  body {
    width: auto;
    height: 50%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 90vh;
    width: 90vw;
    padding: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .left-section {
    flex: 4;
    /* 60% */
    background-color: #ffffff;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 8%;
  
  }
  
  .left-section:hover {
    border-color: #007bff;
    /* Add border color on hover */
  }
  
  .right-section {
    flex: 7;
    /* 40% */
    background-color: rgb(25, 77, 119);
    // padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: none;
  }
  
  .logo {
    width: 100px;
    // margin: 10px auto;
  }
  
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  
  .link {
    margin-bottom: 20px;
    color: #3e90e7;
    text-decoration: none;
    font-size: 16px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    // border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
  
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group button {
    width: 90%;
    padding: 10px;
    margin: 8px;
    background-color: rgb(25, 77, 119);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: rgb(3, 114, 241);
  }
  
  .top-right {
    top: 10px;
    right: 20px;
    text-align: right;
  }
  
  .login-button {
    background-color: rgb(252, 252, 252);
    color:  rgb(25, 77, 119);
    padding: 2px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    // margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: rgb(3, 114, 241);
    color: rgb(250, 250, 250);
    border: 1px solid blue;
  }
  .p-color{
    color: #ddd;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  }
  
  /* Styling for the heading */
  .heading {
    color: white;
    font-size: 30px;
    margin-bottom: 4px;
  }
  
  /* Styling for the paragraph */
  .paragraph {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    width: 50%;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: rgb(252, 252, 252);
    color:  rgb(25, 77, 119);
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: rgb(3, 114, 241);
    color: rgb(250, 250, 250);
  }
  
  .image {
    width: 100%;
    // max-width: 400px; 
    height: 60%;
    // margin-top: auto;
  }
  
  .forgot-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .forgot-link:hover {
    color: #1c74e2;
  }
  
  .forgot-link1 {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 16px;
    text-decoration: none;
  }
  
  .forgot-link1:hover {
    color: #1c74e2;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  
  .circular-button {
    width: 90px;
    height: 90px;
    background-color: #f1f3f5;
    color:  rgb(25, 77, 119);
    border: none;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Hover effect */
  .circular-button:hover {
    background-color: #5e9bdb;
    /* Darker shade on hover */
    transform: scale(1.1);
    /* Slight zoom effect */
  }